.navbar-inner {
    border-radius: 0 0 0 0;
}
#calculator-wrapper {
  font-size: 42px;
}
.hero-unit {
    background-color: #eee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
}
#calculator-wrapper .uneditable-input {
  height: 42px;
  font-size: 30px;
  line-height: 35px;
  width: 100%;
}
#calculator-wrapper .span1 {
  height: 42px;
  font-size: 42px;
}
#calculator-wrapper .span1 .visible-phone {
  line-height: 25px;
}
#calculator-wrapper .span1 .hidden-phone {
  line-height: 42px;
}
/*.bt {
  width: 10%;
  height: 50px;
  margin: 0 5px 5px 0;
  line-height: 50px;
  font-weight: bold;
  font-size: 25px;
}*/

#calc-board a{
   margin: 0 5px 5px 0;
}

#calc-board .btn-default{
   padding: 6px 29px;
}


.uneditable-input {
    overflow: hidden;
    white-space: nowrap;
}

.uneditable-input, .uneditable-textarea {
    background-color: #fcfcfc;
    border-color: #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
    color: #999;
    cursor: not-allowed;
}

.hero-unit {
    background-color: #eee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 40px;
}