@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?86338447');
  src: url('../fonts/fontello.eot?86338447#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?86338447') format('woff'),
       url('../fonts/fontello.ttf?86338447') format('truetype'),
       url('../fonts/fontello.svg?86338447#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86338447#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
 /* line-height: 1em;*/
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-burger10:before { content: '\e800'; } /* '' */
.icon-calendar146:before { content: '\e801'; } /* '' */
.icon-carrot8:before { content: '\e802'; } /* '' */
.icon-sauce3:before { content: '\e803'; } /* '' */
.icon-yin6:before { content: '\e804'; } /* '' */
.icon-gym8:before { content: '\e805'; } /* '' */
.icon-weight19:before { content: '\e806'; } /* '' */
.icon-heart287:before { content: '\e807'; } /* '' */
.icon-heart288:before { content: '\e808'; } /* '' */
.icon-scale16:before { content: '\e809'; } /* '' */
.icon-yoga13:before { content: '\e80a'; } /* '' */
.icon-gym14:before { content: '\e80b'; } /* '' */
.icon-weightlifting5:before { content: '\e80c'; } /* '' */
.icon-weightlifting6:before { content: '\e80d'; } /* '' */
.icon-gym11:before { content: '\e80e'; } /* '' */
.icon-apple63:before { content: '\e80f'; } /* '' */
.icon-scale17:before { content: '\e810'; } /* '' */
.icon-kickboxing1:before { content: '\e811'; } /* '' */
.icon-chronometer19:before { content: '\e812'; } /* '' */
.icon-man428:before { content: '\e813'; } /* '' */
.icon-skating3:before { content: '\e814'; } /* '' */
.icon-apple64:before { content: '\e815'; } /* '' */
.icon-gym16:before { content: '\e816'; } /* '' */
.icon-weightlifting8:before { content: '\e817'; } /* '' */
.icon-sportive57:before { content: '\e818'; } /* '' */
.icon-gym23:before { content: '\e819'; } /* '' */
.icon-bald37:before { content: '\e81a'; } /* '' */
.icon-man429:before { content: '\e81b'; } /* '' */
.icon-chronometer20:before { content: '\e81c'; } /* '' */
.icon-cross85:before { content: '\e81d'; } /* '' */
.icon-medical85:before { content: '\e81e'; } /* '' */
.icon-standing92:before { content: '\e81f'; } /* '' */
.icon-ball23:before { content: '\e820'; } /* '' */
.icon-gym31:before { content: '\e821'; } /* '' */
.icon-weights10:before { content: '\e822'; } /* '' */
.icon-working7:before { content: '\e823'; } /* '' */
.icon-arm2:before { content: '\e824'; } /* '' */
.icon-gymnast5:before { content: '\e825'; } /* '' */
.icon-gymnast1:before { content: '\e826'; } /* '' */
.icon-band13:before { content: '\e827'; } /* '' */
.icon-bicycle14:before { content: '\e828'; } /* '' */
.icon-steroids1:before { content: '\e829'; } /* '' */
.icon-star157:before { content: '\e82a'; } /* '' */
.icon-medical86:before { content: '\e82b'; } /* '' */
.icon-medical87:before { content: '\e82c'; } /* '' */
.icon-drugs6:before { content: '\e82d'; } /* '' */
.icon-date6:before { content: '\e82e'; } /* '' */
.icon-dumbbell1:before { content: '\e82f'; } /* '' */
.icon-dumbbell:before { content: '\e830'; } /* '' */
.icon-boxer:before { content: '\e831'; } /* '' */
.icon-bodyparts5:before { content: '\e832'; } /* '' */
.icon-biceps1:before { content: '\e833'; } /* '' */
.icon-athlete4:before { content: '\e834'; } /* '' */
.icon-gymnast16:before { content: '\e835'; } /* '' */
.icon-gymnast35:before { content: '\e836'; } /* '' */
.icon-hand227:before { content: '\e837'; } /* '' */
.icon-individual2:before { content: '\e838'; } /* '' */
.icon-jump12:before { content: '\e839'; } /* '' */
.icon-man429-1:before { content: '\e83a'; } /* '' */
.icon-man466:before { content: '\e83b'; } /* '' */
.icon-muscle2:before { content: '\e83c'; } /* '' */
.icon-pulling:before { content: '\e83d'; } /* '' */
.icon-silhouette48:before { content: '\e83e'; } /* '' */
.icon-upper20:before { content: '\e83f'; } /* '' */
.icon-weight:before { content: '\e840'; } /* '' */
.icon-fitness1:before { content: '\e841'; } /* '' */
.icon-exercise94:before { content: '\e842'; } /* '' */
.icon-exercise83:before { content: '\e843'; } /* '' */
.icon-exercise5:before { content: '\e844'; } /* '' */
.icon-dumbbells10:before { content: '\e845'; } /* '' */
.icon-dumbbell26:before { content: '\e846'; } /* '' */
.icon-dumbbell25:before { content: '\e847'; } /* '' */
.icon-dumbbell18:before { content: '\e848'; } /* '' */
.icon-dumbbell7:before { content: '\e849'; } /* '' */
.icon-dumbbell6:before { content: '\e84a'; } /* '' */
.icon-break1:before { content: '\e84b'; } /* '' */
.icon-bike15:before { content: '\e84c'; } /* '' */
.icon-sunrise4:before { content: '\e84d'; } /* '' */
.icon-swimming22:before { content: '\e84e'; } /* '' */
.icon-thin37:before { content: '\e84f'; } /* '' */
.icon-thumb42:before { content: '\e850'; } /* '' */
.icon-truck38:before { content: '\e851'; } /* '' */
.icon-trophy56:before { content: '\e852'; } /* '' */
.icon-two328:before { content: '\e853'; } /* '' */
.icon-water53:before { content: '\e854'; } /* '' */
.icon-weightlifter2:before { content: '\e855'; } /* '' */
.icon-wine57:before { content: '\e856'; } /* '' */
.icon-dumbbell24:before { content: '\e857'; } /* '' */
.icon-meter7:before { content: '\e858'; } /* '' */
.icon-musculous:before { content: '\e859'; } /* '' */
.icon-dumbbells2:before { content: '\e85a'; } /* '' */
.icon-dumbbells3:before { content: '\e85b'; } /* '' */
.icon-music224:before { content: '\e85c'; } /* '' */
.icon-file73:before { content: '\e85d'; } /* '' */
.icon-first41:before { content: '\e85e'; } /* '' */
.icon-musical104:before { content: '\e85f'; } /* '' */
.icon-musical103:before { content: '\e860'; } /* '' */
.icon-no67:before { content: '\e861'; } /* '' */
.icon-fitness:before { content: '\e862'; } /* '' */
.icon-flexions:before { content: '\e863'; } /* '' */
.icon-notes24:before { content: '\e864'; } /* '' */
.icon-oxygenation:before { content: '\e865'; } /* '' */
.icon-gloves5:before { content: '\e866'; } /* '' */
.icon-hanging14:before { content: '\e867'; } /* '' */
.icon-pencil88:before { content: '\e868'; } /* '' */
.icon-weightlifter1:before { content: '\e869'; } /* '' */
.icon-restaurant44:before { content: '\e86a'; } /* '' */
.icon-resting5:before { content: '\e86b'; } /* '' */
.icon-runer:before { content: '\e86c'; } /* '' */
.icon-weightlifter3:before { content: '\e86d'; } /* '' */
.icon-healthy7:before { content: '\e86e'; } /* '' */
.icon-heart285:before { content: '\e86f'; } /* '' */
.icon-heart286:before { content: '\e870'; } /* '' */