.registration-form{
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.form-bottom{
    overflow:hidden;
}

.registration-form .has-feedback .form-control-feedback{
    top: 0px !important;
}

 .btn-group .form-control-feedback {
    top: 0;
    right: -30px !important;
}

.registration-form .plans span {
    background: #ff5e3c none repeat scroll 0 0;
    border: 3px solid #ff5e3c;
    border-radius: 100%;
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-size: 0.6em;
    font-weight: 700;
    height: 5em;
    line-height: 1em;
    margin: -1.4em 1em 0 0;
    padding: 1.8em 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 5em;
}

 span.tooltipster-icon, .registration-form .plans span {
    background: #0078c9 none repeat scroll 0 0;
    border: 3px solid #0078c9;
    cursor: help;
    height: 2.3em;
    margin: 1em 0 0 -3em;
    padding: 0.4em 0 0;
    width: 20px;
}

.registration-form [class*="col-"] + [class*="col-"] {
    margin-top: 0px;
}

.registration-form .tooltip {
    opacity: 1 !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.activity-level span {
    margin:3px 0 0 -3em;
}

.bs-wizard [class*="col-"] + [class*="col-"] {
    margin-top: 0px;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 15px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }